SOAPEbay/WebContent/wsdl/Signin.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ebay.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ebay.com" xmlns:intf="http://ebay.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ebay.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="signInUser">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="signInUserResponse">
    <complexType>
     <sequence>
      <element name="signInUserReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateLastLogin">
    <complexType>
     <sequence>
      <element name="email" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateLastLoginResponse">
    <complexType/>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="updateLastLoginRequest">

      <wsdl:part element="impl:updateLastLogin" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInUserResponse">

      <wsdl:part element="impl:signInUserResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateLastLoginResponse">

      <wsdl:part element="impl:updateLastLoginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="signInUserRequest">

      <wsdl:part element="impl:signInUser" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Signin">

      <wsdl:operation name="signInUser">

         <wsdl:input message="impl:signInUserRequest" name="signInUserRequest">

       </wsdl:input>

         <wsdl:output message="impl:signInUserResponse" name="signInUserResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateLastLogin">

         <wsdl:input message="impl:updateLastLoginRequest" name="updateLastLoginRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateLastLoginResponse" name="updateLastLoginResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SigninSoapBinding" type="impl:Signin">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="signInUser">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="signInUserRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="signInUserResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateLastLogin">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateLastLoginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateLastLoginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SigninService">

      <wsdl:port binding="impl:SigninSoapBinding" name="Signin">

         <wsdlsoap:address location="http://localhost:8080/SOAPEbay/services/Signin"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
